{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "current",
            },
        }],
        ["@babel/preset-react", {
            "pragma": "h",
            "pragmaFrag": "Fragment"
        }]
    ],
}